body {
  color:#FFF;
  font-family: 'Open Sans', sans-serif;
}
#page1 {
  background-image: url('images/Curtis (14 of 18).jpg');
  background-size:cover;
  background-position: left center;
  display:flex;
  height:100vh;
  flex-direction:column;
}
header {
  padding:20px;
  background: linear-gradient(to bottom, rgba(150,0,30,.5),
  rgba(0,0,0,0));
}
.headertop {
  display:flex;
  flex-wrap:wrap;
}
ul {
  position:fixed;
  width:20%;
  right:0;
}
@media (max-width: 600px) {
  ul {
    position:relative;
    display:flex;
    flex-direction: row;
  }
}
@media (max-width:200px) {
  ul {
    flex-direction:column;
  }
}
.active {
  background:url(./images/marker.png) center left no-repeat;
  margin-left:10px;
}

li {
  font-size:15px;
  padding:10px;
}
h2 {
  padding:10px;
  font-style:italic;
}




h1 {
  font-size:80px;
}

h2 {
  font-size: 30px;
}
.socialmedia {
  display:flex;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  content:" ";
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

a {
  color:#FFF;
  padding:15px;
  font-size:40px;
  border-radius:10px;
  font-weight:700;
}
a:hover, .nav:hover {
  transition: .2s ease;
  background-color: rgba(0,0,0,1);
  transform: scale(1.1);
}
.button {
  margin-bottom:80px;
}
.fa {
  padding: 20px;
  font-size: 35px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 70%;
}
hr {
  color:#FFF;
  text-align:left;
  width:40%;
  margin:10px;
  }
.email {
  font-style:italic;
  color:#FFF;
  font-size:30px;
}
/*Page 2 CSS*/
  #page2 {
    display:flex;
    height: 100vh;
    flex-direction: column;
    background-color:#000;
    justify-content: center;
    align-items: center;
    color:#000;
  }
.brandstatementcontainer {
  display:flex;
  justify-content: center;
  align-items: center;
  padding:15px;
  overflow:auto;
  }
.brandstatement {
  color:#FFF;
  font-family: 'Lora', serif;
  background: rgba(0,0,0,.3);
  font-size:20px;
  line-height: 30px;
  padding:15px;
  border-radius: 10px;
  }

.page2main {
  flex-grow:1;
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-bottom: 12px;
}
.projectcontainer {
  width:80%;
  background-color:#d3d3d3;
  margin:10px;
  padding:8px;
  display:flex;
  border-radius:10px;
  align-items: center;
  justify-content: space-around;
}
.projectdescription {
  width:50%;
  /*padding:20px;*/
}
.buttonbox {
  display:flex;
}
.projectphoto {
  width:200px;
  height:250px;
  object-fit: contain;
}
.code, .launch {
  padding:20px;
}

.description {
  padding:5px;
}
