body {
  color:#FFF;
  font-family: 'Lora', serif;
}
#page1 {
  background-image: url('images/Curtis (14 of 18).jpg');
  background-size:cover;
  background-position: left center;
  display:flex;
  height:100vh;
  flex-direction:column;
}
header {
  padding:20px;
  background: linear-gradient(to bottom, rgba(150,0,30,.5),
  rgba(0,0,0,0))
}
h1, h2 {
  padding:10px;
}
h1 {
  font-size:100px;
  font-weight:800;
}
nav {
  display:flex;
  flex-grow: 1;
  padding:15px;
  justify-content:space-around;
  align-items:flex-end;
}
h2 {
  font-size: 30px;
}
a {
  color:#FFF;
  padding:15px;
  font-size:40px;
  border-radius:10px;
  font-weight:700;
}
.button {
  margin-bottom:80px;
}

footer {
  text-align:center;
  color:#FFF;
  /*background-color:rgba(0,0,0,.5);*/
  font-family: 'Lora', serif;
  font-size:25px;
  position:fixed;
  bottom:0px;
  width:100%;
}

a:hover {
  transition: .2s ease;
  background-color: rgba(0,0,0,.5);
  -webkit-transform: rotate(360deg);
}
.fa {
  padding: 20px;
  font-size: 35px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 70%;
}

hr {
    color:#FFF;
    text-align:left;
    width:40%;
    margin:10px;
  }
  .email {
    font-style:italic;
    color:#FFF;
    font-size:30px;
  }


   /*Page 2 CSS*/

  #page2 {
    display:flex;
    height: 100vh;
    flex-direction: column;
    background-color:#000;
    justify-content: center;
    align-items: center;
  }
  .arrows, .arrowpage3 {
    width:5%;
    margin:30px;
  }
  .arrowcontainer {
    text-align: center;
  }

  .page2main {
    display:flex;
    flex-grow:1;
    background-color: #000;
    /*padding:20px;*/
  }
  .brandstatementcontainer {
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding:70px;
    border-right:1px solid white;
  }
  .resumecontainer {
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .brandstatement {
    color:#FFF;
    font-family: 'Lora', serif;
    background: rgba(150,0,30,.3);
    font-size:24px;
    line-height: 30px;
    padding:20px;
    border-radius:10px;
  }
  .resume {
    color:#FFF;
    font-family: 'Lora', serif;
    background: rgba(150,0,30,.3);
    font-size:24px;
    line-height: 30px;
    padding:10px;
    border-radius:10px;
    text-align:center;
  }

  .page2hr {
    width:90%
  }

  #page3 {
    display:flex;
    height:100vh;
    flex-direction: column;
    background-color:#000;
    justify-content: center;
    align-items: center;
  }
  .page3main {
    flex-grow:1;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 12px;
  }
  .projectcontainer {
    width:80%;
    background-color:aqua;
    margin:15px;
    display:flex;
    padding:8px;
    border-radius:10px;
    align-items: center;
    justify-content: space-around;
  }
  .arrowpage3 {
    margin:10px;
  }
  .projectdescription {
    width:50%;
    /*padding:20px;*/
  }
  .buttonbox {
    display:flex;
  }
  .projectphoto {
    height:20vh;
  }
  .code, .launch {
    padding:20px;
  }
